//共通タグ色設定
.tag-type span {
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  color: #fff;
  &.develop,
  &.alliance,
  &.finance {
    background-color: rgb(182, 182, 182);
  }
  &.found,
  &.invest {
    background-color: rgb(112, 173, 117);
  }
  &.management {
    background-color: rgb(233, 156, 69);
  }
  &.impact {
    background-color: rgb(140, 189, 235);
  }
  &.loss {
    background-color: rgb(230, 132, 132);
  }
  &.crisis {
    background-color: rgb(163, 21, 21);
  }
  //地域タグ
  &.region {
    color: rgb(116, 116, 116);
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(214, 214, 214);
  }
}
